<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://127.0.0.1:8000/upload"><h3>Video Detect</h3></a><br>
    <a href="http://127.0.0.1:8000/upload_i"><h3>Image Detect</h3></a><br>
    <a href="http://127.0.0.1:8000/livedetect"><h3>Go Live</h3></a><br>
    <a href ="http://127.0.0.1:8000/data"><h3>Show camera </h3></a><br>
    <a href ="http://127.0.0.1:8000/upload_data"><h3>Upload Camera </h3></a>
</body>
</html>